<a href="https://colab.research.google.com/github/AdrianaCaetano/Data_Analysis_with_Python/blob/main/Tutorials/2_Pandas_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Analysis with Python 
### from freeCodeCamp Certification

# Pandas Series Module

Pandas Series: 
Ordered sequence of elements with an index and an associated data type. It may or may not have a name.

In [ ]:
import pandas as pd
import numpy as np





Use 'The Group of Seven', G7, which is a political forum between seven countries - Canada, France, Germany, Italy, Japan, the United Kingdom and the United States, to do the analysis.

In [ ]:
# G7 population in millions
g7_pop = pd.Series([35.467, 63.951, 80.940, 60.665, 127.061, 64.511, 318.523])
g7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
dtype: float64

In [ ]:
# show values
g7_pop.values

array([ 35.467,  63.951,  80.94 ,  60.665, 127.061,  64.511, 318.523])

In [ ]:
# Add a name to make clear to the audience what the content is 
g7_pop.name = 'G7 Population in millions'
g7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
Name: G7 Population in millions, dtype: float64

In [ ]:
type(g7_pop.values)

numpy.ndarray

Pandas series are backed up by numpy arrays

In [ ]:
# access values by index
g7_pop[0]

35.467

In [ ]:
g7_pop.index

RangeIndex(start=0, stop=7, step=1)

In [ ]:
# We can define the index
g7_pop.index = [
    'Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kingdom',
    'United States',
]
g7_pop

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [ ]:
# We can create series from dictionaries
pd.Series ({
    'Canada': 35.467,
    'France': 63.951,
    'Germany': 80.94,
    'Italy': 60.665,
    'Japan': 127.061,
    'United Kingdom': 64.511,
    'United States': 318.523
}, name='G7 Population in millions')

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [ ]:
# Create series passing lists of values
pd.Series(
    [35.467, 63.951, 80.94, 60.665, 127.061, 64.511, 318.523],
    index=['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom',
       'United States'],
    name='G7 Population in millions')

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [ ]:
# Create series from other series by specifying the index
pd.Series(g7_pop, index=['France', 'Germany', 'Italy', 'Spain'])

France     63.951
Germany    80.940
Italy      60.665
Spain         NaN
Name: G7 Population in millions, dtype: float64

## Indexing
Using index to retrieve values

In [ ]:
# Retrieve a value using the index
g7_pop['Canada']

35.467

In [ ]:
# Retrieve a value using the numeric position with iloc
g7_pop.iloc[0] # First element

35.467

In [ ]:
g7_pop.iloc[-1] # Last element

318.523

In [ ]:
# Select multiple elements using index
g7_pop[['Italy', 'France']]

Italy     60.665
France    63.951
Name: G7 Population in millions, dtype: float64

In [ ]:
# Select multiple elements using iloc
g7_pop.iloc[[0,1]]

Canada    35.467
France    63.951
Name: G7 Population in millions, dtype: float64

In [ ]:
# Slicing (both upper and lower limits are included in Pandas)
g7_pop['Canada': 'Italy']

Canada     35.467
France     63.951
Germany    80.940
Italy      60.665
Name: G7 Population in millions, dtype: float64

In [ ]:
# select middle elements by position
g7_pop[1:-1]
# or 
# g7_pop.iloc[1:-1]

France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
Name: G7 Population in millions, dtype: float64

In [ ]:
# show first and last elements
# g7_pop[[0,-1]]
# or
g7_pop.iloc[[0,-1]]

Canada            35.467
United States    318.523
Name: G7 Population in millions, dtype: float64

In [ ]:
# Sort values 
g7_pop.sort_values()

Canada             35.467
Italy              60.665
France             63.951
United Kingdom     64.511
Germany            80.940
Japan             127.061
United States     318.523
Name: G7 Population in millions, dtype: float64

In [ ]:
# show elements in reverse position
g7_pop[::-1]

United States     318.523
United Kingdom     64.511
Japan             127.061
Italy              60.665
Germany            80.940
France             63.951
Canada             35.467
Name: G7 Population in millions, dtype: float64

## Conditional Selection 
Series boolean arrays, also called masks

In [ ]:
# returns a bool series 
g7_pop > 70

Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
Name: G7 Population in millions, dtype: bool

In [ ]:
# use the bool series to return a slice of the set that meets the condition
g7_pop[g7_pop > 70]

Germany           80.940
Japan            127.061
United States    318.523
Name: G7 Population in millions, dtype: float64

In [ ]:
g7_pop.mean()

107.30257142857144

In [ ]:
# filter data based on a condition
g7_pop[g7_pop > g7_pop.mean()]

Japan            127.061
United States    318.523
Name: G7 Population in millions, dtype: float64

In [ ]:
g7_pop.std()

97.24996987121581

~ not

| or

& and

In [ ]:
g7_pop [~(g7_pop > g7_pop.mean())]

Canada            35.467
France            63.951
Germany           80.940
Italy             60.665
United Kingdom    64.511
Name: G7 Population in millions, dtype: float64

In [ ]:
g7_pop[(g7_pop > g7_pop.mean() - g7_pop.std() / 2) | (g7_pop > g7_pop.mean() + g7_pop.std() / 2)]

France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

## Logic Functions

In [ ]:
# Return True if none of its elements is zero
# Return whether all elements are True. Returns True unless there at least one 
# element within a series or along a Dataframe axis that is False or equivalent (e.g. zero or empty).

g7_pop.all()

True

In [ ]:
# Return True if any of its elements is zero
# Return whether any element is True. Returns False unless there is at least one
# element within a series or along a Dataframe axis that is True or equivalent (e.g. non-zero or non-empty).

# pd.Series([True, False]).any()
pd.Series([False, False]).any()

False

## Operations and Methods
Series also support vectorized operations and aggregation functions as Numpy

In [ ]:
g7_pop

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [ ]:
# To millions
g7_pop * 1_000_000

Canada             35467000.0
France             63951000.0
Germany            80940000.0
Italy              60665000.0
Japan             127061000.0
United Kingdom     64511000.0
United States     318523000.0
Name: G7 Population in millions, dtype: float64

In [ ]:
g7_pop.mean()

107.30257142857144

In [ ]:
g7_pop.sum()

751.118

In [ ]:
g7_pop.max()

318.523

In [ ]:
g7_pop.min()

35.467

In [ ]:
np.log(g7_pop)

Canada            3.568603
France            4.158117
Germany           4.393708
Italy             4.105367
Japan             4.844667
United Kingdom    4.166836
United States     5.763695
Name: G7 Population in millions, dtype: float64

In [ ]:
g7_pop['France': 'Italy'].mean()

68.51866666666666

## Boolean Arrays

In [ ]:
g7_pop

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [ ]:
g7_pop > 80

Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
Name: G7 Population in millions, dtype: bool

In [ ]:
g7_pop[g7_pop > 80]

Germany           80.940
Japan            127.061
United States    318.523
Name: G7 Population in millions, dtype: float64

In [ ]:
g7_pop[(g7_pop > 80) | (g7_pop < 40)]

Canada            35.467
Germany           80.940
Japan            127.061
United States    318.523
Name: G7 Population in millions, dtype: float64

In [ ]:
g7_pop[(g7_pop > 80) & (g7_pop < 200)]

Germany     80.940
Japan      127.061
Name: G7 Population in millions, dtype: float64

## Modifying Series

In [ ]:
# Modify an element using the index
g7_pop['Canada'] = 40.5

In [ ]:
g7_pop

Canada             40.500
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [ ]:
# Modify last element using iloc
g7_pop.iloc[-1] = 500

In [ ]:
g7_pop

Canada             40.500
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     500.000
Name: G7 Population in millions, dtype: float64

In [ ]:
# Modify elements based on a condition
g7_pop[g7_pop < 70] = 99.99

In [ ]:
g7_pop

Canada             99.990
France             99.990
Germany            80.940
Italy              99.990
Japan             127.061
United Kingdom     99.990
United States     500.000
Name: G7 Population in millions, dtype: float64